
.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
  overflow: hidden;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 44px; /* h-11 */
  padding: 0 32px; /* px-8 */
  border-radius: 4px;
  z-index: 1;
  background-color: hsl(var(--primary));
  border: solid 1px hsl(var(--border));
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
